In [1]:
myList = [0,1,2]
print(myList)

[0, 1, 2]

In [2]:
myList.append([4,5])
print(myList)

[0, 1, 2, [4, 5]]

In [3]:
myList.extend([6,7])
print(myList)

[0, 1, 2, [4, 5], 6, 7]

# Comparision Operators

In [5]:
a = 6
b = 10
print (a == b)

False

In [6]:
print (a > b)

False

In [7]:
print (a!=b)

True

In [8]:
print (a < b)

True

In [9]:
"ADC" == "Michael Jackson"

False

In [10]:
"ADC" is "Michael Jackson"

False

In [13]:
age = 19
if age > 19:
    print ("Enter into Concert")
else:
    print ("You cannot enter into concert")

You cannot enter into concert

In [17]:
#album_year = 1983
album_year = 1970
if album_year > 1983:
    print ("Album year is greate than 1983")
else : 
    print ("Album year is less than 1983")

Album year is less than 1983

Logical Operators : and , or , not

In [18]:
a = 8
b = 8
print (a and b)

8

# LOGICAL OPERATORS

In [20]:
album_year = 1970
if album_year > 1983 and album_year < 1989:
    print ("Album year is greate than 1983")
else : 
    print ("Album year is less than 1983")

Album year is less than 1983

In [25]:
album_year = 1991 
if album_year < 1990 or album_year > 1989:
    print ("Satisfied")
else :
    print("condition not satisfied")

Satisfied

In [24]:
album_year = 1991 
if not (album_year < 1990 or album_year > 1989):
    print ("Satisfied")
else :
    print("condition not satisfied")

condition not satisfied

In [32]:
album_year = 1990 
if not(album_year == 1994):
    print("Album year is not 1994")
else : 
    print("Album year is  1994")

Album year is not 1994

# Loops : for , while , range()

In [36]:
range(3)

range(0, 3)

In [49]:
dates = [1982, 1990, 1979]
length = len (dates)
length

3

In [50]:
for i in range(length):
    print (dates[i])
    print(i)

1982
0
1990
1
1979
2

In [48]:
for i in dates :
    print (i)
    print (dates)

1982
[1982, 1990, 1979]
1990
[1982, 1990, 1979]
1979
[1982, 1990, 1979]

In [61]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
len1 = len (list1)
len1
len2 = len (list1[i])

3

In [63]:
for i in list1:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [69]:
for i in range(len1):
    len2 = len (list1[i])
    for j in range (len2):
        print(list1[i][j])

1
2
3
4
5
6
7
8
9

In [ ]:
#Replace value using loop

In [77]:
squares = ["red", "yellow","green", "purple", "blue"]
for i in range(0,5) :
    print ("before sqaure", i , "is" , squares[i])
    if (squares[i] == "green"):
        squares[i] = "white"
    print ("after sqaure", i , "is" , squares[i])

before sqaure 0 is red
after sqaure 0 is red
before sqaure 1 is yellow
after sqaure 1 is yellow
before sqaure 2 is green
after sqaure 2 is white
before sqaure 3 is purple
after sqaure 3 is purple
before sqaure 4 is blue
after sqaure 4 is blue

In [75]:
for i, square in enumerate(squares):
    print(i, square)

0 red
1 yello
2 white
3 purple
4 blue

# while loop

In [78]:
dates = [1982, 1990, 1973, 2000]
i = 0
year = 0
while(year != 1973):
    year = dates[i]
    i=i+1
    print(year)
    
print ("it took" , i , "repetitions to get out of loop")

1982
1990
1973
it took 3 repetitions to get out of loop

In [ ]:
#display int ratings of an album stored in list "PlaylistRatings".

In [90]:
PlaylistRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlaylistRatings[i]
while (rating > 6):
    print (rating)
    i = i+1
    rating = PlaylistRatings[i]

10
9.5
10
8
7.5